<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madewithorbit.lab4">
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" >

        <activity android:name=".Lab4"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".SMSReceiver" android:enabled="true" android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
                <action android:name="android.intent.action.TIME_TICK"/>
                <action android:name="com.madewithorbit.lab4.smsservice.STOP"/>
                <action android:name="com.madewithorbit.lab4.smsservice.PHONEHOME"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>

